body {
    background: #ECEAE3 url(../images/backgrounds/bg-section-menu.png) top center / cover no-repeat;
    height: 100vh;
}
a {
    text-decoration: none;
}
#login {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-container {
    width: 700px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    background-color: #fff;
    border-radius: 7px;
    margin: 15px;
    padding: 60px 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    animation: animatezoom 0.6s;
}
@keyframes animatezoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.login__logo {
    width: 100%;
    /* height: 100px; */
    text-align: center;
}
.login__logo img{
    width: 70%;;
}
p {
    margin: 15px 0;
    font-size: 14px;
    font-family: 'Roboto';
    opacity: 0.6;
}
.form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 15px 0;
}
.form__label {
    font-size: 16px;
    font-family: 'Roboto';
    margin-bottom: 5px;
}
.form__input {
    width: calc(100% - 15px);
    height: 40px;
    font-size: 14px;
    padding: 0 0 0 15px;
    border: 2px solid #ccc ;
    border-radius: 3px;
    opacity: 0.8;
    transition: all .3s;
}
.form__input:focus {
    border: 2px solid rgb(90, 90, 241);
    box-shadow: 0 0 3px rgb(90, 90, 241);
    outline-offset: 0px;
    outline: none;
}

.login-btn {
    width: 100%;
    height: 40px;
    margin: 20px 0;
    border: none;
    background-color: #C7A17A;
    color: #fff;
    font-size: 15px;
    font-family: 'Roboto'; 
    transition: all .3s;
    border-radius: 3px;
    cursor: pointer;
}
.login-btn:hover {
    background-color: black;
}

.login__other {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.login__other__or {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.login__other__or span {
    font-size: 15px;
    font-family: 'Roboto';
    padding: 0 10px;
}
.login__other__or .horizontal {
    flex-grow: 1;
    height: 1px;
    background-color: #ccc;
    line-height: 18px;
}

.login__other__account {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
}
.other {
    width: 40%;
    height: 40px;
    border: 2px solid rgb(0, 174, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    cursor: pointer;
}
.other a {
    text-transform: none;
    color: rgb(0, 174, 255);
    line-height: 40px;
    font-size: 14px;
    font-family: 'Roboto';
    font-weight: 300;
}
.other img {
    width: 20px;
    margin: 10px;
    color: rgb(0, 174, 255);
    transition: all .3s;
}
.other:hover img {
    transform: translateY(-5px);
}

.sign-up {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 14px;
    font-family: 'Roboto';
}
.sign-up a {
    margin-left: 2px;
    text-transform: none;
    color: rgb(0, 174, 255);
    /* line-height: 40px; */
    font-size: 14px;
    font-family: 'Roboto';
    font-weight: 300;
}