#add-product-container {
    width: 100%;
    min-height: 900px;
    padding: 80px 0;
    background-color: #fff;
    display: none;
}

#add-product {
    width: 1200px;
    height: 700px;
    padding: 15px;
    /* background-color: #f6f6f6; */
}
.add-product {
    width: 100%;
    height: 100%;
    background-color: #f6f6f6;
    padding: 50px 60px 120px;
    display: flex;
    flex-direction: column;
}
.form__title {
    font-size: 45px;
    font-family: 'Oswald';
    line-height: 55px;
    margin-bottom: 13px;
}
.form__productInfo {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
}

.form__input-container {
    width: 50%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    margin: 20px 0;
    
}
.form__input-container p {
    font-size: 18px;
    font-family: 'Roboto';
    text-transform: uppercase;
    text-align: left;
    padding-left: 23px;
    padding-bottom: 15px;
}
.form__input {
    width: 100%;
    padding: 8px 23px;
    height: 70px;
    background-color: #fff;
    border-radius: 5px;
    border: none;
}
.form__input-container label {
    cursor: pointer;
    font-size: 16px;
    font-family: 'Roboto';
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d6cdcd;
    
}
.form__input-container label:hover {
    border: 2px solid #C7A17A;
}
input[type='file'] {
    display: none;
}
.form__input:focus {
    border: 2px solid #C7A17A;
    outline-offset: 0px;
    outline: none;
}
.form__input-container div {
    position: relative;
}
.form__input-container i {
    display: inline-block;
    position: absolute;
    top: calc(50% - 8px);
    right: 20px;
}
.add-product__btn {
    margin: 15px 0;
    width: 180px;
    height: 50px;
    text-transform: uppercase;
    color: #fff;
    background-color: #C7A17A;
    font-size: 15px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    transition: all 0.3s linear;
    cursor: pointer;
}
.add-product__btn:hover {
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    border: none;
}