#evaluate {
    width: 100%;
    height: 890px;
    background-color: #fff;
    position: relative;
}

.evaluate__bg {
    width: calc(100% / 3);
    height: 100%;
    background-image: url(../images/blog/bg-blog-image.webp);
}

.evaluate-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    font-family: Oswald, sans-serif;
}
.evaluate__img {
    width: 45%;
    padding: 15px;
}
.evaluate__img img {
    width: 100%;
    border-radius: 5px;
}

.evaluate__content {
    width: 55%;
    padding-left: 80px;
    padding-right: 15px;
}
.contact__subtitle,
.evaluate__subtitle {
    font-size: 14px;
    font-family: 'Roboto';
    margin-bottom: 15px;
    font-weight: 700;
}
.contact__title,
.evaluate__title {
    font-size: 45px;
    font-family: 'Oswald';
    font-weight: 700;
    margin-bottom: 32px;
    line-height: 1.2;
}
.contact__text1,
.contact__text2,
.evaluate__text {
    font-size: 14px;
    font-family: 'Roboto';
    color: #7c7770;
    padding-bottom: 20px;
    line-height: 1.6;
}
.evaluate__content hr {
    margin: 15px 0;
    font-size: 14px;
    color: #ccc;
}

.evaluate__rate {
    margin-top: 30px;
    display: flex;
}
.evaluate__rate__name {
    font-size: 15px;
    margin-bottom: 2px;
}
.evaluate__rate__position {
    font-size: 12px;
    font-family: 'Roboto';
    margin-top: 3px;
    color: #7c7770;
}
.evaluate__rate__star {
    margin-left: 15px;
    color: rgb(216, 216, 14);
}


.evaluate__img-small {
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}
.small-1 {
    top: 25%;
    left: 13%;
    width: 70px;
    height: 70px;
}
.small-2 {
    width: 60px;
    height: 60px;
    top: 10%;
    right: 18%;
}
.small-3 {
    width: 60px;
    height: 60px;
    bottom: 45%;
    right: 8%;
}
.small-4 {
    width: 90px;
    height: 90px;
    bottom: 5%;
    right: 20%;
}