body {
    margin: 0;
    background: url(../images/backgrounds/bg_05.png) bottom center / cover no-repeat;
    background-attachment: fixed;
}
.footer-wrapper {
    margin: 0;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    min-height: 965px;
}

#footer {
    max-width: 1200px;
    min-height: 965px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    font-family: Oswald, sans-serif;
}
#footer .footer-spacer {
    width: 100%;
    height: 110px;
    margin: 0;
}
#footer .footer-heading {
    width: 100%;
    height: 118px;
    margin: 0 0 18px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-header {
    width: 368px;
    height: 121px;
    margin: 0;
    color: #fff;
    font-size: 45px;
    font-family: Oswald, sans-serif;
    line-height: 54px;
    font-weight: 700;
    word-spacing: 0px;
}

.footer-subscribe-wrapper {
    margin-top: 0px;
    margin-bottom: 95px;
    width: 100%;
}
.widget-wrap {
    text-align: center;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
input[type='email'] {
    width: 384px;
    height: 50px;
    font-size: 14px;
    padding: 0 0 0 18px;
    display: inline-block;
    border: none;
    background-color: rgba(66, 63, 63, 0.9);
    border-radius: 3px;
    color: #FFF;
    opacity: 0.8;
}
input[type='email']:focus {
    outline: none;
}

/* info: start*/

/* cafenod */
.footer-info {
    overflow: hidden;
}
.footer-info-items {
    box-sizing: border-box;
    float: left;
    width: 25%;
    color: #fff;
    padding: 15px;
    height: 320px;
}
.cafenod .info {
    font-size: 14px;
    line-height: 1.6;
    text-align: justify;
    margin: 15px 0;
    font-family: 'Roboto', sans-serif;
}

.footer-icon .icon-container {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #12100d;
    color: #c7a17a;
    overflow: hidden;
    border: none;
    border-radius: 3px;
    position: relative;
    text-decoration: none;
    align-content: center;
    animation-delay: 300ms;
}

.icon-container + .icon-container {
    margin-left: 5px;
}

.box-icon {
    display: inline-block;
    position: absolute;
    text-align: center;
    line-height: 35px;
    width: 100%;
    height: 100%;
    transition: all 300ms linear 0ms;
}

.icon-container .box-icon:nth-child(2) {
    top: 100%;
    /* opacity: 0; */
}

.icon-container:hover .box-icon{
    color: #fff;
    transform: translateY(-100%);
    opacity: 1;
}

.icon-container:hover {
    background-color: #c7a17a;
}


/* contact */
.footer-info h3 {
    font-size: 20px;
    text-align: left;
    font-weight: 700;
    margin: 0 0 35px 25px;
    
}
.footer-info .footer-info-items ul{
    text-align: left;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}
.footer-info .contact li {
    margin: 20px 0 20px 25px;
}
/* opening-hours */
.footer-info-items.opening-hours {
    width: calc((100% / 2) * (2/5));
}
.footer-info .footer-info-items li {
    list-style-type: none;
    font-size: 14px;
    font-weight: 300;
}
.footer-info .footer-info-items li label {
    font-weight: 700;
    line-height: 26px;
    margin: 0 3px 0 0;
}
.footer-info .footer-info-items li a {
    text-decoration: none;
    color: #fff;
    line-height: 24px;
    font-weight: normal;
}
.footer-info .opening-hours li {
    margin: 7px 0 0 20px;
}
.footer-info .opening-hours li label {
    margin: 0 5px 0 0;
    display: inline-block;
    width: 95px;
}
.footer-info .opening-hours li .opening-close {
    color: #C7A17A;
}

/* recent news */
.recent-news {
    width: calc((100% / 2) * (3/5))
}
.recent-news .post-item {
    display: flex;
    margin: 0 0 50px 25px;
}
.recent-news .recent-img {
    display: block;
    width: 80px;
    height: 80px;
}
.recent-news .post-item:hover img{
    width: 76px;
}
.recent-news img {
    width: 73px;
    padding: 2px;
    border-radius: 4px;
    transition: all 0.2s linear;

}
.entry-body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    margin: 0 0 0 15px;
}
.entry-body .entry-title {
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    margin: 0 0 3px 0;
    display: block;
}
.entry-body .item-date {
    display: block;
    padding: 9px 0;
    font-size: 12px;
    color: #C7A17A;
}
/* info : end */

.footer-divider {
    margin-top: 40px;
    padding: 15px 0;
    color: #fff;
    opacity: 0.4;
}

.footer-copyright {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: 0 0 15px;
}
.footer-copyright p {
    margin-top: 0;
    color: #fff;
}
.footer-copyright a {
    color: #C7A17A;
    text-decoration: none;
    font-weight: normal;
}