#header {
    position: absolute;
    top: 25px;
    width: 100%;
    background-color: transparent;
    z-index: 50;
    height: 100px;
}

.header-container {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

.header__nav {
    flex: 1;
    height: 100%;
}

.header__nav-container {
    height: 100%;
}

.header__nav-container ul {
    height: 100%;
}

.nav-item + .nav-item {
    margin-left: 10px;
}

.nav-item a{
    display: block;
    line-height: 100px;
    font-size: 14px;
    letter-spacing: 0.05em;
    color: #fff;
    text-transform: uppercase;
    font-family: Roboto, sans-serif;
    font-weight: 600;
    transition: .4s;
}
.nav-item:hover a {
    color: #C7A17A;
}

.header__right {
    height: 100%;
}
.header__right-container {
    height: 100%;
}
.header__right-container a {
    font-size: 18px;
    line-height: 40px;
    transition: .4s;
    color: #fff;
}
.header__search,
.header__shoppingCart{
    flex-grow: 1;
    margin-left: 20px;
}
.header__search:hover a,
.header__shoppingCart:hover a{
    color: #C7A17A;
}
.header__search:hover,
.header__shoppingCart:hover{
    cursor: pointer;
}

.header-btn {
    min-width: 155px;
    height: 51px;
    text-align: center;
    overflow: hidden;
    border-radius: 5px;
}

.header-btn:hover a{
    background-color: #fff;
    color: #12100d;
}

.header-btn a{
    display: block;
    line-height: 51px;
    padding: 0 30px;
    min-width: 155px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #C7A17A;
}

.header-icon + .header-icon {
    margin-right: 30px;
}

.header-btn-menu {
    color: #000;
    font-style: 16px;
    padding: 5px 10px;
    border: 2px solid rgba(0, 0, 0, .4);
    border-radius: 5px;
    cursor: pointer;
    opacity: .6;
    display: none;
}

.header-btn-menu:hover {
    opacity: 1;
}

#header--change {
    position: fixed;
    height: 100px;
    top: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    z-index: 50;
    width: 100%;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    animation: headerFaceIn 0.5s linear;
}

@keyframes headerFaceIn {
    from {
        transform: translateY(-80px);
    }
    to {
        transform: translateY(0);
    }
}

.header__nav--change li a,
.header__right-container--change a i {
    color: #000;
}
