#header {
    position: absolute;
    top: 16px;
    right: 0;
    left: 0;
    background-color: transparent;
    z-index: 3;
    width: 100%;
}

.header-container {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}
.header__logo-container a img{
    width: 201px;
    margin-left: 16px;
}

.header__nav {
    flex: 1;
    height: 80px;
    margin: 0 15px;
}
.header__nav-container {
    height: 100%;
    padding-left: 40px;
}
.header__nav-container ul {
    height: 100%;
}
.header__nav li a {
    display: block;
    line-height: 80px;
    font-size: 14px;
    letter-spacing: 0.05em;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    transition: .4s;
}
.header__nav li:hover a {
    color: #C7A17A;
}

.header__right {
    height: 100%;
}
.header__right-container {
    height: 100%;
}
.header__right-container a {
    font-size: 18px;
    line-height: 40px;
    transition: .4s;
    color: #fff;
}
.header__search,
.header__shoppingCart{
    flex-grow: 1;
    margin-left: 20px;
}
.header__search:hover a,
.header__shoppingCart:hover a{
    color: #C7A17A;;
}
.header__search:hover,
.header__shoppingCart:hover{
    cursor: pointer;
}
.header__btn {
    flex-grow: 5;
    margin-left: 50px;
    margin-right: 16px;
}
.header__btn a {
    font-family: 'Roboto';
    color: #fff;
    font-size: 15px;
}


#header--change {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    z-index: 1000;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    animation: headerFaceIn 0.5s linear;
}
@keyframes headerFaceIn {
    from {
        transform: translateY(-80px);
    }
    to {
        transform: translateY(0);
    }
}
.header__nav--change li a,
.header__right-container--change a i {
    color: #000;
}
