#menu {
    display: flex;
    justify-content: center;
    font-family: Roboto, sans-serif;
    background: #eceae3 url(../images/menu/bg-section-menu.webp) no-repeat bottom center;
    background-size: contain;
}

.menu-content {
    max-width: 1200px;
    padding: 15px 30px;
    width: 100%;
    margin: 80px 0;
}

.menu-content__heading {
    text-align: center;
    margin-bottom: 50px;
}

.custom-subheading {
    color: #12100d;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 15px;
}

.custom-subheading i {
    margin-right: 5px;
    color: #c7a17a;
}

.custom-heading {
    font-family: Oswald, sans-serif;
    font-size: 38px;
    line-height: 1.2;
    color: #12100d;
    clear: both;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 18px;
}

/* List menu content */
.menu-content__list {
    text-align: center;
    border-bottom: 4px solid #e4e2da;
    margin: 0 15px;
    margin-bottom: 50px;
}

.list-item {
    text-transform: uppercase;
    display: inline-block;
    padding: 23px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    color: #7c7770;
}

.item-before {
    width: 12px;
    height: 12px;
    left: 2px;
    margin-right: 2px;
    display: inline-block;
    content: "";
    border-radius: 50%;
    opacity: 0;
    background-color: #c7a17a;
    transition: all 300ms linear 0ms;
}

.item-after {
    position: absolute;
    display: block;
    content: "";
    bottom: -4px;
    height: 4px;
    left: 20px;
    right: 10px;
    background-color: #c7a17a;
    border-radius: 4px;
    transition: all 300ms linear 0ms;
    opacity: 0;
}

.active-item .item-before, .active-item .item-after {
    opacity: 1;
}

.entry-image {
    overflow: hidden;
    margin-right: 40px;
    max-width: 120px;
    min-width: 120px;
    min-height: 120px;
    max-height: 120px;
    position: relative;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.entry-image img {
    transform: scale(1.1);
    transition: all ease .3s;
}

.light-box {
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    top: -30px;
    line-height: 30px;
    right: -30px;
    z-index: 5;
    color: #fff;
    transition-delay: .5s;
    transition: all 500ms linear 0ms;
    font-size: 20px;
    opacity: 0;
}

.light-box:hover {
    color: #c7a17a;
}

.entry-image::before {
    top: -60px;
    right: -60px;
    background-color: rgba(0,0,0,.3);
    z-index: 1;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    transition-delay: .09s;
    content: "";
    display: block;
    position: absolute;
    transition: all 100ms linear 0ms;
    opacity: 0;
}

.entry-image::after {
    top: -70px;
    right: -70px;
    transition-delay: .2s;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgba(0,0,0,.6);
    z-index: 2;
    content: "";
    display: block;
    position: absolute;
    opacity: 0;
}

.item-inner {
    background-color: #fff;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 15px;
    border-radius: 9px;
}

.item-inner:hover img{
    transform: scale(1);
}

.item-inner:hover .entry-image::after, .item-inner:hover .entry-image::before{
    top: -40px;
    right: -40px;
    opacity: 1;
}

.item-inner:hover .light-box {
    top: 0;
    right: 0;
    opacity: 1;
}

.item-inner + .item-inner{
    margin-top: 20px;
}
.item-content {
    max-width: 660px;
    width: 100%;
    padding-right: 100px;
}

.item-title {
    color: #12100d;
    clear: both;
    line-height: 1.6;
    margin: 0 0 15px;
    font-size: 17px;
    margin-bottom: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

.item-excerpt {
    overflow-wrap: break-word;
    font-size: 14px;
    color: #7c7770;
    line-height: 1.6;
}

.entry-price {
    display: flex;
    margin-left: 100px;
    align-items: flex-end;
    flex-grow: 1;
    justify-content: flex-end;
    font-weight: 700;
    font-family: Oswald,sans-serif;
    line-height: 1;
    color: #c7a17a;
}

.inner-price {
    padding-left: 60px;
    padding-right: 60px;
    position: relative;
    display: flex;
    align-items: flex-end;
    min-width: 210px;
    justify-content: center;
    font-size: 60px;
}

.inner-price::before {
    height: 68px;
    width: 2px;
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #eceae3;
}

.inner-price span {
    color: #12100d;
    font-weight: 400;
    font-family: Roboto,sans-serif;
    font-size: 18px;
}