#product-details-container {
    background-color: #f6f6f6;
    min-height: 700px;
    width: 100%;
    padding-top: 70px;
    display: none;
}
#product-details {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    height: 600px;
    padding: 15px;
}
.product-details__img-container,
.product-details__info {
    width: 50%;
    height: 550px;
    padding: 0 15px;
}
.product-details__img{
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.product-details__img img{
    width: 70%;
}

.product-details__name {
    text-align: left;
    margin: 15px 0;
}
.product-details__name h3 {
    font-size: 24px;
    font-family: 'Oswald';
}
.product-details__rating {
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
}
.product-details__star {
    color: rgb(216, 216, 14);

}
.product-details__count-rating {
    margin-left: 10px;
    font-size: 14px;
    font-family: 'Roboto';
    opacity: 0.6;
}
.product-details__description {
    font-size: 14px;
    font-family: 'Roboto';
    opacity: 0.6;
    margin: 10px 0;
    line-height: 1.6;
    text-align: left;
}
.product-details__price {
    margin: 15px 0;
    color: #C7A17A;
    font-size: 25px;
    font-family: 'Oswald';
    font-weight: 600;
    text-align: left;
}
.product-details__color {
    display: flex;
    margin: 20px 0;
    align-items: center;
}
.product-details__color p {
    font-size: 18px;
    font-family: 'Oswald';
    margin-right: 50px;
}
.product-details__color ul {
    display: flex;
}
.product-details__color ul li {
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
    border-radius: 5px;
    margin: 0 15px;
    font-size: 14px;
    font-family: 'Roboto';
    transition: .4s;
    cursor: pointer;
}
.product-details__color ul li:hover {
    background-color: #C7A17A;
    color: #fff;
}
.product-details__btn-container {
    text-align: left;
}
.product-details__btn {
    margin: 20px 0;
    width: 145px;
    height: 50px;
    background-color: black;
    border-radius: 5px;
    color: #fff;
    border: none;
    font-family: 'Oswald';
    font-size: 14px;
    transition: .4s;
    cursor: pointer;
}
.product-details__btn:hover {
    background-color: #C7A17A;
}
.product-details__wishlist {
    text-align: left;
    padding: 15px 0;
    cursor: pointer;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 600;
    border-bottom: 1px solid #ccc;
}
.product-details__share {
    text-align: left;
    margin: 15px 0;
}
.product-details__share p {
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 5px;
    font-weight: 600;
}
.share__icons {
    display: flex;

}
.share__icons a {
    margin-right: 15px;
}
.share__icons div{
    width: 35px;
    height: 35px;
    background-color: #fff;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .4s;
    color: rgb(141, 135, 135);
}
.share__icons div:hover {
    background-color: #C7A17A;
    color: #fff;
}
