/* PC */
@media (min-width: 1200px) {
    .header__nav-container {
        display: block !important;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1199px) {
    /* Header */
    #header {
        background-color: #fff;
        top: 0;
        width: 100%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        position: relative;
    }

    .header__logo-container img {
        content: url(../images/logo/logo-dark.webp);
    }

    .header__nav-container {
        display: none;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        background-color: #fff;
        height: fit-content;
        box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);
        transition: all .3s linear;
    }
    
    .navbar {
        margin: 0;
        padding: 0;
        flex-direction: column;
    }

    .nav-item {
        height: 60px;
        width: 100%;
        text-align: left;
    }

    .nav-item + .nav-item {
        margin-left: 0;
    }
    
    .nav-item a {
        color: #000;
        line-height: 60px;
        padding-left: 15px;
    }

    .nav-item:hover {
        background-color: rgba(220, 218, 218, 0.3);
    }
    
    .header__right a {
        color: #000;
    }

    .header-btn {
        display: none;
    }

    .header-btn-menu {
        display: block;
    }

    /* Slider */
    .mySlides .mySlides__text-content h1 {
        font-size: 53px;
    }

    .mySlides .mySlides__text-content p {
        font-size: 16px;
        font-weight: normal;
    }

    .prev, .next {
        display: none;
    }

    .text-content__btn .about-btn a,
    .text-content__btn .reserve-btn a {
        font-size: 15px;
    }

    /* about us */
    .about-content__box {
        width: 100%;
    }

    .item-image {
        margin-top: 80px;
    }

    /* Contact */
    #contact {
        height: fit-content;
        flex-direction: column;
    }

    .contact__img {
        height: 360px;
        display: block;
        width: 100%;
    }

    .contact__contact {
        display: flex;
        flex-wrap: wrap;
    }

    .contact__content-container {
        width: 100%;
    }
    
    .contact__content-left, .contact__content-right {
        width: 50%;
    }

    .contact__reservation {
        width: 50%;
    }

    .contact__opening-hours {
        width: 50%;
    }

    .contact__friday-offer {
        width: 100%;
        justify-self: center;
    }

    .contact__friday-offer__img img {
        width: 50%;
    }

    /* Shop */
    .shop__title {
        font-size: 35px;
    }

    /* Blog */
    .blog__title {
        font-size: 35px;
    }

    /* footer */
    .footer-info {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: 0 -15px;
    }

    .footer-info-items {
        width: 50% !important;
    }

    .footer-info-items.opening-hours .info-heading {
        margin: 0;
    }

    .footer-info-items.opening-hours li {
        margin-left: 0;
    }
}

/* Phone */
@media (max-width: 767px) {
    /* .blog__content-box {
        width: calc((100% - 50px) / 2);
        width: 400px;
    }     */
}