@media (min-width: 576px) {
    
}

@media (min-width: 992px) {

}

@media (max-width: 1199px) {
    /* Header */
    #header {
        background-color: #fff;
        top: 0;
        right: 0;
        left: 0;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        position: relative;
    }

    .header__logo-container img {
        content: url(../images/logo/logo-dark.webp);
    }

    .header__nav-container {
        display: none;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        background-color: #fff;
        height: fit-content;
        box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);
        transition: all .3s linear;
    }
    
    .navbar {
        margin: 0;
        padding: 0;
        flex-direction: column;
    }

    .nav-item {
        height: 60px;
        width: 100%;
        text-align: left;
    }

    .nav-item + .nav-item {
        margin-left: 0;
    }
    
    .nav-item a {
        color: #000;
        line-height: 60px;
        padding-left: 15px;
    }

    .nav-item:hover {
        background-color: rgba(220, 218, 218, 0.3);
    }
    
    .header__right a {
        color: #000;
    }

    .header-btn {
        display: none;
    }

    .header-btn-menu {
        display: block;
    }
}

/* Slider */


@media (min-width: 1200px) {
    .header__nav-container {
        display: block !important;
    }
}

@media (min-width: 1400px) {

}