.shopping-cart-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    background: rgba(0, 0, 0, 0.4);
    justify-content: right;
    display: none;
}

.shopping-cart {
    background-color: #FFF;
    width: 350px;
    height: 100vh;
    padding: 60px 30px 0 30px;
    position: relative;
    animation: cartFadeIn .3s linear;
}

@keyframes cartFadeIn {
    from {
        opacity: 0;
        transform: translateX(350px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.shopping-cart__title {
    font-size: 18px;
    font-family: 'Oswald';
    letter-spacing: 2px;
    line-height: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
}

.shopping-cart a {
    position: absolute;
    bottom: 50px;
    margin-left: calc(50% - 120px);
}

.shopping-cart__shop {
    width: 180px;
    height: 50px;
    background-color: #C7A17A;
    border-radius: 5px;
    color: #FFF;
    font-family: 'Roboto';
    transition: .4s;
}

.shopping-cart__shop:hover {
    background-color: #000;
}

.shopping-cart__close {
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 45px;
    background-color: #000;
    color: #FFF;
    cursor: pointer;
}

.shopping-cart__close:hover {
    opacity: 0.8;
}

.shopping-cart__items {
    height: 700px;
    overflow-x: hidden;
    overflow-y: auto;
}

.shopping-cart__item {
    display: flex;
    padding: 20px 15px 0 0;
    position: relative;
}

.shopping-cart__item>i {
    position: absolute;
    right: 10px;
    top: 30px;
    font-size: 16px;
    cursor: pointer;
    padding: 3px;
}

.shopping-cart__item>i:hover {
    opacity: 0.6;
}

.item__product-image {
    padding-right: 15px;
}

.item__product-image img {
    width: 45px;
}

.item__product-meta {
    display: flex;
    flex-direction: column;
}

.product-meta__name {
    font-size: 14px;
    font-family: 'Oswald';
    letter-spacing: 0.5px;
    margin-bottom: 3px;
}

.product-meta__price {
    font-size: 14px;
    font-family: 'Roboto';
    color: #7A7A7A;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }