* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    /* font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1200 - 300))); */
    font-size: 14px;
    font-family: Roboto, sans-serif;
}

body {
    position: relative;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    letter-spacing: 1px;
    font-size: 1rem;
}

li {
    list-style-type: none;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.row {
    flex-direction: row;
    height: 100%;
}

.btn {
    text-transform: uppercase;
    height: 50px;
    max-width: 170px;
    min-width: 165px;
    color: #fff;
    background-color: #C7A17A;
    font-size: 15px;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
    border: none;
    padding: 0;
    border-radius: 4px;
    transition: all 0.3s linear;
}
.btn:hover {
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    border: none;
}

/* button back to top */
#btn-back-to-top {
    position: fixed;
    display: none;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #C7A17A;
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    border-radius: 4px;
    bottom: 50px;
    right: 50px;
}

#btn-back-to-top:hover {
    cursor: pointer;
    background-color: #000;
}

.admin {
    display: block;
}